header.masthead {
  position: relative;
  overflow: hidden;
  margin-top: 60px;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  //background: linear-gradient(0deg, $secondary 0%, $primary 100%);
  background: $primary;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-image: url("/img/hero.jpg");
  .masthead-content {
    z-index: 1;
    position: relative;
    .masthead-heading {
      font-size: 4rem;
    }
    .masthead-subheading {
      margin-top: 1em;
      color: $gray-100;
      font-size: 0.8rem;
      letter-spacing: 0.5em;
      text-shadow: 0px 0px 4px #000000;
    }
  }
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(10rem + 55px);
    padding-bottom: 10rem;
    .masthead-content {
      .masthead-heading {
        font-size: 6rem;
      }
      .masthead-subheading {
        font-size: 1.5rem;
      }
    }
  }
}
