@mixin heading-font {
  font-family: "Montserrat";
  font-weight: 200 !important;
  text-transform: uppercase;
}

@mixin body-font {
  font-family: "Montserrat";
  font-weight: 300 !important;
  font-size: 1.2rem;
}
