.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: fade-out($secondary, 0.1);
  .navbar-brand {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
  }
  .navbar-contact {
    img {
      height: 1.5rem;
    }
    span {
      vertical-align: middle;
      margin-left: 0.5rem;
      text-transform: uppercase;
      line-height: 1rem;
      font-size: 1rem;
      letter-spacing: 0.1rem;
      font-weight: 700;
      color: $white;
    }
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 700;
        letter-spacing: 0.1rem;
      }
    }
  }
}
